@font-face{
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: "Lato-Heavy";
  src: url("../fonts/Lato-Heavy.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: "Lato-Semibold";
  src: url("../fonts/Lato-Semibold.woff");
  font-weight: 600;
  font-style: normal;
}

@font-face{
  font-family: "Lato-Black";
  src: url("../fonts/Lato-Black.woff");
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family: "Lato-Thin";
  src: url("../fonts/Lato-Thin.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: "Myriad Pro-Bold";
  src: url("../fonts/MyriadPro-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

* {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  font-family: Lato, "Lucida Sans Unicode", sans-serif;
  text-align: center;
}

header {
  position: relative;
  height: 1064px;
  color: #ffffff;
  background: url("../img/Header.png") top;
}

header .logo {
  margin-top: -3px;
  margin-left: 3px;
}

header .menu {
  display: flex;
  width: 1200px;
  height: 90px;
  box-sizing: border-box;
  border-bottom: solid 1px #2e2f32;
  padding: 35px 0;
}

nav {
  display: flex;
  width: 624px;
  height: 3.5rem;
  padding-right: 0;
}

nav ul {
  display: flex;
  width: 100%;
  margin-left: 175px;
  justify-content: space-between;
  list-style: none;
}

nav li {
  margin: 1px 35px 1px 34px;
  cursor: pointer;
}

nav li:hover {
  border-bottom: solid 1px #ffffff;
}

header p {
  width: 230px;
  margin-top: 327px;
  margin-bottom: 12px;
  font-size: 4.5rem;
  font-family: "Myriad Pro-Bold", "Lucida Sans Unicode", sans-serif;
  overflow: hidden;
}

header span {
  font-style: italic;
  font-size: 2rem;
  line-height: 1.45;
  font-family: Georgia, serif;
}

.member {
  position: absolute;
  bottom: 0;
  width: 1602px;
  height: 120px;
  font-family: "Lato-Bold", "Lucida Sans Unicode", sans-serif;
  background-color: #2fac6c;
}

.login {
  position: absolute;
  display: flex;
  width: 810px;
  margin-top: -1px;
}

.sign-in  {
  position: absolute;
  display: flex;
  width: 683px;
  margin: 46px 250px 52px 470px;
  justify-content: space-between;
  line-height: 1.2;
}

.sign-in h2 {
  margin: 0;
  font-size: 1.375rem;
}

.sign-in :first-child {
  text-align: left;
}

.sign-in :last-child {
  text-align: right;
}

.sign-in h2:hover {
  border-bottom: 3px solid #ffffff;
}

.domain {
  width: 1600px;
  height: 407px;
  padding: 87px 0;
  color: #cbcbcb;
}

.domain-text {
  width: 1200px;
}

.domain-text h2 {
  font-size: 1.5rem;
  font-family: "Lato-Heavy", "Lucida Sans Unicode", sans-serif;
  color: #383737;
}

.domain-text p {
  margin-top: 24px;
  font-weight: 100;
  font-family: "Montserrat", "Lucida Sans Unicode", sans-serif;
  color: #a8a8a8;;
}

.domain-select {
  display: flex;
  width: 888px;
  height: 49px;
  box-sizing: border-box;
  margin-top: 49px;
  border: 1px solid #d9d9d9;
  color: #d9d9d9;
}

.domain-select span {
  width: 73px;
  margin: 8px 0;
  border-right: 1px solid #d9d9d9;
  line-height: 28px;
  font-family: "Lato-Semibold", "Lucida Sans Unicode", sans-serif;
}

.domain-select input {
  position: relative;
  width: 728px;
  border: none;
  color: #d9d9d9;
}

.domain-select input[placeholder] {
  margin-left: 15px;
  text-align: left;
  font-size: 0.9375rem;
  font-family: "Lato-Semibold", "Lucida Sans Unicode", sans-serif;
  color: #595959;
}

input:focus::-webkit-input-placeholder {
  opacity:0;
}
input:focus::-moz-placeholder {
  opacity:0;
}
input:focus:-moz-placeholder {
  opacity:0;
}

.domain-select select {
  width: 86px;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-left: 1px solid #d9d9d9;
  padding-bottom: 3px;
  padding-left: 14px;
  text-align: left;
  color: #cbcbcb;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/fa-angle-down.jpg) 82% / 10% no-repeat #ffffff;
}

.domain-prices {
  width: 888px;
  height: 194px;
  mar                                          gin-top: 40px;
  table-layout: fixed;
  border-collapse: collapse;
}

.domain-prices td {
  position: relative;
  border: 1px solid #d9d9d9;
  font-size: 0.875rem;
}

.first-row-prices td + td::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -9.5px;
  width: 16px;
  height: 16px;
  background: #ffffff;
}

.second-row-prices td + td::before {
  content: "";
  position: absolute;
  top: -6.5px;
  left: -6.5px;
  width: 13px;
  height: 13px;
  background: #ffffff;
}

.second-row-prices td + td::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -9.5px;
  width: 16px;
  height: 16px;
  background: #ffffff;
}

.first-row-prices td:first-child::before {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0px;
  width: 26px;
  height: 26px;
  background: #ffffff;
}

.first-row-prices td:last-child::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 190px;
  width: 31px;
  height: 31px;
  background: #ffffff;
}

.packages {
  display: grid;
  width: 1600px;
  height: 765px;
  grid-template-areas: 
  "basic-package normal-package big-package biggest-package";
  grid-column-gap: 59px;
  justify-content: center;
  align-content: center;
  background: url(../img/Packages_Photo.jpg) no-repeat top;
}

.basic-package, .normal-package, .big-package, .biggest-package {
  width: 255px;
  height: 565px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.basic-package:hover{
  box-shadow:0px 0px 300px #ffffb3,0px 0px 100px #ffe4b3;
}

.normal-package:hover{
  box-shadow:0px 0px 300px #e7e5e4,0px 0px 100px #b7aeae;
}

.big-package:hover{
  box-shadow:0px 0px 300px #f85a3a,0px 0px 100px #fbac9d;
}

.biggest-package:hover{
  box-shadow:0px 0px 300px #29c0a3,0px 0px 100px #abede0;
}
  

.basic-package {
  grid-column: 1 / span 1;
  grid-row: 1;
  border-top: 5px solid #f9d423;
}

.normal-package {
  grid-column: 2 / span 1;
  grid-row: 1;
  border-top: 5px solid #7f8c8d;
}

.big-package {
  grid-column: 3 / span 1;
  grid-row: 1;
  border-top: 5px solid #f85f40;
}

.biggest-package {
  grid-column: 4 / span 1;
  grid-row: 1;
  border-top: 5px solid #29c0a3;
}

.packages i {
  width: 55px;
  height: 55px;
  box-sizing: border-box;
  margin: 37px 0 15px 0;
  border-radius: 50%;
  padding: 13px;
  font-size: 1.0625rem;
}

.packages i div {
  width: 57px;
  height: 57px;
}

.one-quarter {
  margin: -36px 0 15px -19px;
  background-image: linear-gradient(180deg, transparent 50%, white 50%), linear-gradient(90deg, white 50%, transparent 50%);
}

.two-quarters {
  margin: -36px 0 15px -19px;
  background-image: linear-gradient(270deg, transparent 50%, white 50%), linear-gradient(90deg, white 50%, transparent 50%);
}

.three-quarters {
  margin: -36px 0 15px -48px;
  background-image: linear-gradient(180deg, white 50%, transparent 50%);
}

.basic-package i {
  border: 5px solid #f9d423;
  color: #f9d423;
}

.normal-package i {
  border: 5px solid #7f8c8d;
  color: #7f8c8d;
}

.big-package i {
  border: 5px solid #f85f40;
  color: #f85f40;
}

.biggest-package i {
  border: 5px solid #29c0a3;
  color: #29c0a3;
}

.packages table {
  width: 200px;
  height: 284px;
  margin-top: 17px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.packages tr {
  height: 1.125rem;
}

.packages td {
  font-weight: 300;
}

.packages td + td {
  width: 20%;
  text-align: right;
}

.packages td:first-of-type {
  text-align: left;
  color: #b9b9b9;
}

.basic-package td + td {
  color: #f9d423;
}

.normal-package td + td {
  color: #7f8c8d;
}

.big-package td + td {
  color: #f85f40;
}

.biggest-package td + td {
  color: #29c0a3;
}

.packages p {
  width: 105px;
  margin-top: 28px;
  padding-bottom: 2px;
  font-weight: 800;
  font-size: 1.75rem;
}


.packages p span {
  font-size: 0.8125rem;
  color: #8d8d8d;
}

.basic-package p {
  border-bottom: 4px solid #f9d423;
}

.normal-package p {
  border-bottom: 4px solid #7f8c8d;
}

.big-package p {
  border-bottom: 4px solid #f85f40;
}

.biggest-package p {
  border-bottom: 4px solid #29c0a3;
}

.packages button {
  margin-top: 16px;
  border: none;
  border-radius: 10%;
  font-weight: bold;
  color: #282828;
  background: transparent;
}

.packages button:hover {
  margin-top: 12px;
  border: 1px solid #282828;
  padding: 3px;
  background: #dfdfdf;
}

.about-us {
  display: grid;
  width: 1600px;
  height: 400px;
  grid-template-areas: 
  "text icons";
  box-sizing: border-box;
  padding: 105px 200px;
  background: url(../img/Top_Bar.png) no-repeat center top;
}

.about-us .text {
  grid-column: 1 / span 1;
  grid-row: 1;
  width: 420px;
  max-height: 195px;
  margin: -5px 0;
  padding-right: 100px;
  overflow: hidden;
  background: url(../img/Left_Bar.png) no-repeat right bottom;
}

.about-us .text h2 {
  font-size: 2.1875rem;
  font-family: "Lato-Black", "Lucida Sans Unicode", sans-serif;
  text-align: left;
  color: #303030;
}

.about-us .text h2 span {
  font-size: 2.1875rem;
  font-family: "Lato-Semibold", "Lucida Sans Unicode", sans-serif;
}

.text article {
  width: 421px;
  margin-top: 20px;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: "Lato-Thin", "Lucida Sans Unicode", sans-serif;
  text-align: justify;
  color: #999999;
}

.about-us .icons {
  display: table;
  grid-column: 2 / span 3;
  grid-row: 1;
  width: 675px;
  margin-right: -35px;
}

.about-us figure {
  display: table-cell;
}

.about-us img {
  width: 96px;
  height: 96px;
  box-sizing: border-box;
  border: solid 4px #e5e5e5;
  border-radius: 50%;
}

.icons figcaption {
  margin: 14px 0 8px 0;
  font-size: 1.0625rem;
  font-family: "Lato-Semibold", "Lucida Sans Unicode", sans-serif;
}

.icons p {
  font-size: 0.9375rem;
  color: #8e8e8e;
}

.icons div {
  width: 130px;
  margin-top: 12px;
}

.icons i {
  width: 36px;
  color: #bfbfbf;
}

.icons i:hover {
  color: #1f89ba;
}

.comments {
  position: relative;
  width: 1600px;
  height: 190px;
  border: none;
  text-align: center;
  background: url("../img/Comments_BG_Photo.png") no-repeat top;
}

.comments input {
  display: none;
}

.comments label {
  position: relative;
  top: 121px;
  left: 59px;
  z-index: 5;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 8px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  align-content: center;
  cursor: pointer;
  background: transparent;
  transition: background 0.8s ease-out 0s;
}

.comments > input + label:hover {
  background: #ffffff;
} 

.comments > input:checked + label {
  background: #ffffff;
}

.comments div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  padding: 52px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.comments > input:checked + label + div {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.comments q, cite {
  margin-top: -4px;
  font-size: 1.23rem;
  color: #ffffff;
}

.comments q {
  display: inline-block;
  width: 900px;
  max-height: 60px;
  font-weight: 300;
  line-height: 1.875rem;
  overflow: hidden;
}

.comments cite {
  position: absolute;
  top: 63%;
  right: 781px;
  display: inline-block;
  max-width: 150px;
  margin: 0;
  border-right: solid 1px #ffffff;
  padding-right: 10px;
  font-style: normal;
  font-weight: 700;
}

.functions {
  display: flex;
  width: 1600px;
  height: 342px;
  box-sizing: border-box;
  padding: 0 150px;
  align-items: center;
}

.functions div {
  width: 250px;
}

.functions i {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  margin: 7px;
  border-radius: 50%;
  padding: 16px;
  font-size: 1.75rem;
  color: #ffffff;
}

.functions i:hover {
  transform: scale(1.5, 1.5);
}

.first-func i {
  background: #f1c40f;
}

.second-func i {
  background: #0faff1;
}

.third-func i {
  background: #95a5a6;
}

.fourth-func i {
  background: #f1540f;
}

.functions h2 {
  margin: 16px 0 6px 0;
  font-size: 1.125rem;
  font-family: "Lato-Heavy";
  color: #303030;
}

.functions p {
  height: 54px;
  color: #7e7e7e;
  overflow: hidden;
}

footer {
  display: grid;
  width: 1600px;
  height: 295px;
  grid-template-areas: 
  "logo footerNav footerNav"
  "area1 area2 area3";
  color: #646464;
  background: #2a2a2a;
}

footer .menu {
  position: relative;
  display: grid;
  width: 1200px;
  height: 75px;
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  grid-gap: 0;
  box-sizing: border-box;
  border-bottom: solid 1px #4a4a4a;
  justify-content: space-between;
}

footer .menu img {
  display: flex;
  margin: 22px 0;
}

footer .menu ul {
  position: absolute;
  right: -2%;
  display: flex;
  width: 480px;
  margin: 1.75rem 0;
  justify-content: space-between;
  list-style: none;
}

footer .menu li {
  font-size: 0.8125rem;
  cursor: pointer;
}

footer .menu li:hover {
  color: #ffffff;
}

footer .bottom-footer {
  display: grid;
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  width: 1200px;
  height: 220px;
}

footer .area1 {
  display: grid;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  width: 376px;
  height: 150px;
  border-right: solid 1px #393939;
  justify-content: left;
  overflow: hidden;
}

footer .area1 p {
  width: 315px;
  font-size: 0.9375rem;
  line-height: 1.75rem;
  font-family: "Lato-Light";
  text-align: justify;
  color: #686868;
}

footer .area1 p:last-child {
  height: 20px;
  margin-top: -1.125rem;
}

footer .area1 p:first-child {
  margin-top: 0.75rem;
}

footer .area1 span {
  font-family: "Lato-Bold";
}

footer .area2 {
  display: grid;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  width: 505px;
  height: 150px;
  box-sizing: border-box;
  padding-left: 80px;
  border-right: solid 1px #393939;
  align-content: space-around;
  line-height: 1.875rem;
  text-align: left;
}

footer .area2 ul {
  width: 335px;
  column-count: 2;
  font-weight: 300;
  list-style-type: none;
}

footer .area2 li {
  box-sizing: border-box;
  font-size: 0.9375rem;
  text-align: left;
  cursor: pointer;
}

footer .area2 li:hover {
  color: #ffffff;
}

footer .area2 li:hover::before {
  color: #ffffff;
}

footer .area2 li::before {
  font-family: "FontAwesome";
  content: "\f105";
  margin: 0 7px 0 -15px;
  color: #606060;
}

footer .area3 {
  display: grid;
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  width: 238px;
  height: 100px;
  padding: 1rem 5rem;
  justify-items: left;
}

footer .area3 a {
  margin: 5px 0;
  font-size: 0.9375rem;
  color: #5c5c5c;
  text-decoration: none;
}

footer .area3 a:hover {
  color: #1f89ba;
}

footer .area3 p {
  font-size: 0.9375rem;
  line-height: 1.875rem;
  text-align: justify;
}