@media screen and (max-width: 700px) {
 
}

@font-face{
  font-family: 'Lato';
  src: url('fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Myriad Pro';
  src: url('fonts/MyriadPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Lato';
  src: url('fonts/Lato-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

* {
  max-width: 1600px;
  /* align-content: center; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.wrapper {
  position: absolute;
  width: 1600px;
  height: 961px;
  background: url("img/Header_BG.png") no-repeat center top;
  color: #ffffff;
  z-index: -1;
  opacity: inherit;
}

.logo {
  width: 133px;
  height: 29px;
  margin-top: -7px;
}

.menu {
  display: flex;
  align-items: top;
  justify-content: space-between;
  width: 1197px;
  height: 51px;
  margin: 39px 203px 0 202px;
  border-bottom: solid 1px #000000;
}

.navigation {
  width: 631px;
  height: inherit;
  font-weight: 500;
}

.navigation ul {
  display: flex;
  list-style: none;
  height: inherit;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.navigation li {
  height: inherit;
  cursor: pointer;
}

.navigation li:hover {
  border-bottom: solid 1px #ffffff;
}

h1 {
  width: 222px;
  height: 51px;
  margin: 346px 689px 0 691px;
  font-family: 'Myriad Pro';
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  width: 443px;
  height: 78px;
  margin: 33px 581px 0 578px;
  font-family: Georgia;
  font-size: 32px;
  font-weight: normal;
  font-style: italic;
}

.member {
  display: flex;
  position: absolute;
  z-index: 3;
  width: 1602px;
  height: 122px;
  margin-top: 944px;
  background-color: #2fac6c;
  border: none;
}

#gray {
  display: flex;
  position: inherit;
  height: 122px;
  z-index: 4;
  margin-top: -1px;
}

.signIn  {
  display: flex;
  width: 681px;
  z-index: 5;
  margin: 52px 448px 52px 471px;  
}

.signIn h3 {
  width: inherit;
  color: #ffffff;
  font-size: 19px;
  font-weight: bold;
}

.signIn :first-child {
  text-align: left;
}

.signIn :last-child {
  text-align: right;
}